:root
{
    --number-grid-columns: 4;
}

main section
{
	display: grid;
	grid-template-columns: repeat(var(--number-grid-columns), 1fr);

	width: 100%;
}

main section .assunto
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-bottom: 45px;
}

main section .assunto.novo a .icon-assunto
{
	background-color: #222222
}

main section .assunto .icon-assunto
{
	width: 85px;
	height: 85px;

	border-radius: 50%;

	background-color: #137563;
}

main section .assunto input,
main section .assunto span
{
	font-family: Roboto;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 3px;
	color: var(--color-main-primary);
}