main.container-form
{
    display: flex;
    align-items: center;
    justify-content: center;
}
main form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    
    border-radius: 10px;
    padding: 15px;
    
    width: 500px;

    font-family: Roboto;

    background-color: var(--background-footer-primary);
}
main form h2
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: 15px;
}
main form fieldset
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
main form fieldset legend
{
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 1.1rem;
}
main form label
{ margin-top: 6px; }
main form input,
main form textarea,
main form select,
main form button
{
    margin-top: 4px;
    width: 100%;
    
    border: 1px solid var(--background-header-primary);
    border-radius: 18px 9px 18px 9px;
    
    font-size: 14px;
    padding: 10px 35px 10px 4px;
}
input[type="file"] { border: none }
main form button
{
    width: 180px;
    height: 48px;
    
    border-radius: 25px;
    
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 3px;
    
    background-color:var(--background-header-primary);
    margin-top: 30px;
    padding: 10px;
    
    cursor: pointer;
}
main form img
{
    height: 32px;
    position: absolute;
    top: 7px;
    right: 3px;
}
main form a
{
    font-size: 13px;
    text-decoration: underline;
}

main form fieldset button.add-alt
{
    width: 100%;
    height: auto;
    padding: 6px;
    text-transform: lowercase;
}

main form div.alternatives
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and ( max-width: 420px )
{
    main form { width: 270px }
}