@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

main
{
    justify-content: center !important;

    font-family: Comfortaa;
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 3px;
    line-height: 30px;
}

main h2
{
    margin-bottom: 30px;
}

main a button
{
    background-color: var(--background-header-primary);

    padding: 12px 28px;

    font-size: 1rem;
    color: var(--color-footer-primary);
    font-weight: 500;

    border-radius: 20px 10px 20px 10px;

    cursor: pointer;
}

@media screen and (max-width: 420px)
{
    main
    {
        align-items: center !important;
    }

    main h2
    {
        text-align: center;
    }

    main a button
    {
        padding: 8px 16px;
    }
}