:root
{
    --number-grid-columns: 3;
}

main section
{
	display: grid;
	grid-template-columns: repeat(var(--number-grid-columns), 1fr);

	width: 100%;
}

main section .materia
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 45px;
}

main section .materia.nova a .icon-materia
{
	background-color: #222222;
}

main section .materia .icon-materia
{
	width: 85px;
	height: 85px;

	border-radius: 50%;

	background-color: #137563;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main section .materia input,
main section .materia span
{
	font-family: Roboto;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 3px;
	cursor: pointer;
	color: var(--color-main-primary);
}
