:root
{
    --number-grid-columns: 3;
}

main section
{
	display: grid;
	grid-template-columns: repeat(var(--number-grid-columns), 1fr);

	width: 100%;
}

main section div.materia
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-bottom: 45px;
}

main section div.materia.nova a div.icon-materia
{
	background-color: #222222;
}

main section div.materia div.icon-materia
{
	width: 85px;
	height: 85px;

	border-radius: 50%;

	background-color: #137563;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main section div.materia span
{
	font-family: Roboto;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 3px;
}