@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@900&display=swap');

:root
{
	--background-header: #15AB63;
	--background-main: #E4E4E4;
	--background-footer: #C5C0C0;

	--color-header: #FFFFFF;
	--color-footer: #000000;

	/* const nome_da_constante */
}

*
{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: none;
}

body
{
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header
{
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 70px;

	color: var( --color-header );
	background-color: var( --background-header );
}

header nav
{
	display: flex;
	align-items: center;
	gap: 10px;
}

header nav img
{
	width: 30px;
	height: 32px;
}

header nav span
{
	font-family: Roboto;
	font-size: 1.125em;
	letter-spacing: 3px;
	text-transform: uppercase;
}

header h1
{
	font-family: Mada;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 5px;
}

header form
{
	display: flex;
	align-items: center;
}

header form input
{
	height: 32px;
	width: 200px;
	background-color: var( --background-footer );
	border-top-left-radius: 16px; 
	border-bottom-left-radius: 16px;
}

header form button
{
	height: 32px;
	width: 32px;
	border: 1px solid #000000;
	border-top-right-radius: 4px; 
	border-bottom-right-radius: 4px; 
}

main
{
	background-color: var( --background-main );
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	color: var( --color-footer )
}

main img
{
	width: 30%;
}

main div.form
{
	background-color: var( --background-footer );
	padding: 15px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main div.form h2
{
	font-family: Roboto;
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 45px;
	letter-spacing: 3px; 
}

main div.form form
{
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}

main div.form form input
{
	width: 300px;
	height: 50px;
	border: 2px solid var( --background-header );
	border-radius: 20px 10px;
	padding-left: 24px;

	font-family: Roboto;
	font-size: .8em;
	font-weight: 500;

	outline: none;
}

main div.form form button
{
	margin: 30px 0;
	background-color: var( --background-header );
	border-radius: 20px 10px;
	width: 180px;
	height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1em;

	outline: none;
}

main div.form a
{
	color: var( --color-footer )
}

footer p
{
	height: 80px;
	background-color: var( --background-footer );

	font-family: Roboto;
	font-size: .8em;
	letter-spacing: 3px;
	line-height: 18px;

	text-align: center;

}
